<nav class="navbar w-100 navbar-expand-sm sticky-top bg-light navbar-light shadow navpadding ">
    <div class="container-fluid">
        <!--logo and name-->
        <h2>
            <a href="#" class="navbar-brand">
                <img src="image/EducationM4 logo.png" alt="Bootstrap" width="60" height="55">
                <span class="font-family font-weight-bold ">
                    EducationM4
                </span>
            </a>
        </h2>
        <!--nav bar toggler-->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navlist">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar list-->
        <div class="collapse navbar-collapse" id="navlist">
            <ul class="navbar-nav ml-auto text-center ">

                <li class="nav-item mr-3">
                    <a class="nav-link active" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link active" href="/secret">
                        secret
                    </a>
                </li>

                <li class="nav-item mr-3">
                    <a class="nav-link active" href="/about">
                        About
                    </a>
                </li>

                <li class="nav-item mr-3">
                    <a class="nav-link active" href="/registration">
                        Ragistration
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link active" href="/logout">
                        Logout
                    </a>
                </li>

                <a href="/login" target="_blank">
                    <button type="button" class="button1 button1:hover button:active shadow"> LogIn </button>
                </a>
            </ul>
        </div>
    </div>
</nav>