<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {{>headerlinks}}
</head>

<body class="w-100">
    {{>navbar}}

    <div class="container-fluid">

        <div class="row no-gutter">
            <div class="col-lg-6 col-md-12 col-sm-12;  text-light  bgcolor">
                <div class="content mb-4">
                    <h1 class="  text-left display-4 font-weight-bold font-family mt-4">
                        This is Secretpage
                    </h1>
                    <p class="text-left mt-4 ">
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sed nisl elit, varius ut magna vel,
                        tincidunt iaculis sem. Interdum et malesuada fames ac
                        adipiscing elit. Sed nisl elit, varius ut magna vel,ante ipsum primis in faucibus.
                    </p>

                    <div class="mt-4">
                        <a href="#">
                            <button type="button" class="btn btn-lg buttons buttons:hover button:active shadow mr-5">
                                Sign Up for Excustion </button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-lg button2 button2:hover button:active shadow"> Learn
                                More </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 bg-light">
                <img src="image/girl1.jpg" alt="girl_image" class="img-fulid girl1img">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12 col-md-12 col-lg-12 col-xs-12">
                <div class=" text-center display-4 font-weight-bold font-family mt-5">
                    <span>
                        Statistics
                    </span>
                    <br>
                    <div class="line-warp">
                        <p class="line"></p>
                    </div>
                </div>
                <div>
                    <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in
                        nisi non arcu rutrum molestie.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row text-center pb-4">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div>
                    <img src="image/user.png" class="S.iconimg">
                    <P class="display-4 text-center font-weight-bold S-iconfont">156</P>
                    <div class="line-warp">
                        <p class="iconline"></p>
                    </div>
                    <p class="h4 font-weight-light">Professors</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div>
                    <img src="image/home (1).png" class="S.iconimg">
                    <P class="display-4 text-center font-weight-bold S-iconfont">12</P>
                    <div class="line-warp">
                        <p class="iconline"></p>
                    </div>
                    <p class="h4 font-weight-light">Campuses</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div>
                    <img src="image/group (2).png" class="S.iconimg">
                    <P class="display-4 text-center font-weight-bold S-iconfont">3257</P>
                    <div class="line-warp">
                        <p class="iconline"></p>
                    </div>
                    <p class=" h4 font-weight-light">Students</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div>
                    <img src="image/scroll.png" class="S.iconimg">
                    <P class="display-4 text-center font-weight-bold S-iconfont">346</P>
                    <div class="line-warp">
                        <p class="iconline"></p>
                    </div>
                    <p class="h4 font-weight-light">Courses</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div></div>
    <div class="container-fluid">
        <div class="bgimage1 text-center  ">
            <h4 class="title text-center font-weight-bold font-family FPtitle ">
                Featured Programs
            </h4>
            <div class="line-warp pt-4">
                <p class="line linecolor"></p>
            </div>
            <p class="pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi non
                arcu rutrum molestie.</p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                        <div class="card my-4">
                            <img src="image/anthropoiogy.jpg" class="img-fulid rounded">
                            <div class="card-body">
                                <p class="card-title font-weight-bold cardtitles">
                                    Anthropology</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                        <div class="card my-4">
                            <img src="image/Mathematics.jpg" class="img-fulid rounded">
                            <div class="card-body">
                                <p class="card-title font-weight-bold cardtitles">
                                    Mathematics</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                        <div class="card  my-4">
                            <img src="image/Physics.jpg" class="img-fulid rounded">
                            <div class="card-body">
                                <p class="card-title font-weight-bold cardtitles">
                                    Psychology</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                        <div class="card  my-4">
                            <img src="image/Programming.jpg" class="img-fulid rounded">
                            <div class="card-body">
                                <p class="card-title font-weight-bold cardtitles">
                                    Programming</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                        <div class="card  my-4">
                            <img src="image/copywriting.jpg" class="img-fulid rounded">
                            <div class="card-body">
                                <p class="card-title font-weight-bold cardtitles">
                                    Сopywriting</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                        <div class="card  my-4">
                            <img src="image/Physics.jpg" class="img-fulid rounded">
                            <div class="card-body">
                                <p class="card-title font-weight-bold cardtitles">
                                    Physics
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                        <div class="card  my-4">
                            <img src="image/Economics.jpg" class="img-fulid rounded">
                            <div class="card-body">
                                <p class="card-title font-weight-bold cardtitles">
                                    Economics</p>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                        <div class="card  my-4">
                            <img src="image/Design.jpg" class="img-fulid rounded">
                            <div class="card-body">
                                <p class="card-title font-weight-bold cardtitles">
                                    Design
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="S-AFewWords">
        <div class="container">
            <div class="row">
                <div class=" col-lg-8 col-md-8 col-sm-12 text-left ">
                    <div>
                        <h1 class="font-weight-bold display-6 font-dark font-family">
                            A Few Words<br>
                            About the University
                        </h1>
                        <div class="line-warp">
                            <p class="line"></p>
                        </div>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi non arcu rutrum molestie.
                        Phasellus vel vehicula enim. Nullam congue porttitor posuere. Class aptent taciti sociosqu ad
                        litora
                        torquent per conubia nostra, per inceptos himenaeos. Proin in ultricies ex.
                    </p>

                    <a href="#">
                        <button type="button" class="button button:hover button:active shadow">
                            Lernm more &#8594; </button>
                    </a>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="image/EducationM4 logo.png" class="w-100 h-auto mt-5">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-7">
                    <div class="row justify-content-center">
                        <h1 class="font-weight-bolder OFheading">
                            Our Features
                        </h1>
                        <p class="text-muted OFparagrarh">"Lorem ipsum dolor si amet,
                            consectetur adip iscing elit. Nullam in nisi non arcu rutrum molestie.
                            Phasellus vel vehicula enim. Nullam congue porttitor posuere."</p>
                    </div>
                    <div class="row justify-content-center p-4 mx-4">

                        <div col="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-3">
                                    <div class="card-img">
                                        <img src="image/user.png" width="64px" height="64px" class="mt-4">
                                    </div>
                                </div>
                                <div class="col-3 cardboxs">
                                    <div class="card-box">
                                        <h1 class="card-title font-weight-bolder boxheading">156
                                        </h1>
                                        <p class="card-text text-muted font-weight-bolder">Professors</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div col="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-3">
                                    <div class="card-img">
                                        <img src="image/home (1).png" width="64px" height="64px" class="mt-4">
                                    </div>
                                </div>
                                <div class="col-3 cardboxs">
                                    <div class="card-box">
                                        <h1 class="card-title font-weight-bolder boxheading">12
                                        </h1>
                                        <p class="card-text text-muted font-weight-bolder">Campuses</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center p-4 mx-4">

                        <div col="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-3">
                                    <div class="card-img ">
                                        <img src="image/people.png" width="64px" height="64px" class="mt-4">
                                    </div>
                                </div>
                                <div class="col-3 cardboxs">
                                    <div class="card-box">
                                        <h1 class="card-title font-weight-bolder boxheading">
                                            3257
                                        </h1>
                                        <p class="card-text text-muted font-weight-bolder">Students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div col="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-3">
                                    <div class="card-img">
                                        <img src="image/scroll.png" width="64px" height="64px" class="mt-4">
                                    </div>
                                </div>
                                <div class="col-3 cardboxs">
                                    <div class="card-box">
                                        <h1 class="card-title font-weight-bolder boxheading">346
                                        </h1>
                                        <p class="card-text text-muted font-weight-bolder">Courses</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="image/girlbook.jpg" class="img-fluid" width="100%" height="100%">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <img src="image/anthropoiogy.jpg" class="photos">
                <img src="image/Mathematics.jpg" class="photos">
                <img src="image/Physics.jpg" class="photos">
                <img src="image/Programming.jpg" class="photos">
                <img src="image/copywriting.jpg" class="photos">
                <img src="image/Economics.jpg" class="photos">
                <img src="image/Physics.jpg" class="photos">
                <img src="image/Design.jpg" class="photos">
            </div>
        </div>
    </section>

    <section id="ourteamtbp">
        <div class="container">
            <div class=" text-center font-weight-bold">
                <h1 class="font-weight-bold display-6 font-dark font-family">
                    Our Team
                </h1>
                <div class="line-warp">
                    <p class="line"></p>
                </div>
                <div class="container">
                    <div class=" row card-deck">
                        <div class="col-lg-3 col-md-3 col-sm-12 ">
                            <div class=" text-left">
                                <img class="card-img-top rounded" src="image/jessica.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title OTcardbody">
                                        Jessica Lee</h6>
                                    <p class="card-text text-muted font-weight-light "> Geophysics</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class=" text-left">
                                <img class="card-img-top rounded" src="image/johnbennett.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title OTcardbody">
                                        John
                                        Bennett</h6>
                                    <p class="card-text text-muted font-weight-light"> Graphic Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class=" text-left">
                                <img class="card-img-top rounded " src="image/oliverdoe.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title OTcardbody">
                                        Oliver
                                        Doe</h6>
                                    <p class="card-text text-muted font-weight-light"> Economics</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class=" text-left">
                                <img class="card-img-top rounded" src="image/christina.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title OTcardbody">
                                        Christina Hardy</h6>
                                    <p class="card-text text-muted font-weight-light "> Psychology</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container tablecontaioner">
            <div class=" text-center font-weight-bold tablesectionTBP">
                <h1 class="font-weight-bold display-6 font-dark font-family">
                    Students Table
                </h1>
                <div class="line-warp">
                    <p class="line"></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="table font-weight-light text-left">
                            <thead class="tablehade">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Jeanna Schmal</td>
                                    <td>22</td>
                                    <td>@jenna</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Caren Rials</td>
                                    <td>23</td>
                                    <td>@caren</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Leon Rogol</td>
                                    <td>18</td>
                                    <td>@leon</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Shala Barrera</td>
                                    <td>21</td>
                                    <td>@shala</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="skillsectionTBP">
        <div class="container">
            <div class="row justify-content-center font-family">
                <div class="col-lg-6 col-md-12">
                    <div class=" text-center font-weight-bold mt-4" style="margin-top:40px;">
                        <h1 class="font-weight-bold display-6 font-dark font-family">
                            Skill bar
                        </h1>
                        <div class="line-warp">
                            <div class="line"></div>
                        </div>
                        <div class="progress-bar-title">
                            <p class="text-left text-muted">Law</p>
                        </div>
                        <div class="progress mb-4" style="height:20px;">
                            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                                style="width:43%">
                                43%</div>
                        </div>

                        <div class="progress-bar-title">
                            <p class="text-left text-muted">Mathematics</p>
                        </div>
                        <div class="progress mb-4" style="height:20px;">
                            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                                aria-valuemin="0" aria-valuenow="100" aria-valuemax="100" style="width:73%;">
                                73%</div>
                        </div>
                        <div class="progress-bar-title">
                            <p class="text-left text-muted">Physics</p>
                        </div>
                        <div class="progress mb-4" style="height:20px;">
                            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                                aria-valuemin="0" aria-valuenow="100" aria-valuemax="100" style="width:90%;">
                                90%</div>
                        </div>
                        <div class="progress-bar-title">
                            <p class="text-left text-muted">Computer Science</p>
                        </div>
                        <div class="progress mb-5" style="height:20px;">
                            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                                aria-valuemin="0" aria-valuenow="100" aria-valuemax="100" style="width:100%;">
                                100%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>form}}
    {{>footer}}

</body>

</html>